.card {
    width: 350px;
    margin-right: 90px;
    margin-bottom: 60px;
    padding: 45px 45px 70px 45px;
    display: inline-block;
    box-shadow: 5px 5px 5px crimson;
}
.card-title{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}
.card-text{
    font-size: 35px;
    font-weight: 600;
}
.card-image{
    width: 100%;
    margin-bottom: 25px;
}

.no-right-margin{
    margin-right:0;
}