header {
    font-size: 8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
body{
    background-image: url(/images/rick.jpg);
    background-repeat: repeat;
}