/* стили для кнопки */
button {
    /* размеры кнопки */
    width: 100px;
    height: 40px;
    /* граница элемента */
    border: 1px solid black;
    /* белый фон */
    background-color: white;
    /* сложно — чтобы кнопка была по центру экрана */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* уберем подсветку кнопки при клике */
    outline: none;
    /* приятно — плавные переходы при наведении */
    transition: all .4s ease;
    /* настройки шрифта */
    font-family: 'Arial Narrow', sans-serif;
    font-size: 20px;
}

/* стили для кнопки при наведении */
button:hover {
    /* курсор — палец */
    cursor: pointer;
    /* малиновая тень */
    box-shadow: 4px 4px crimson;
}

.clicked {
    /* background-color — для цвета фона */
    background-color: black;
    /* color — для цвета текста */
    color: white;
}