.medium-button{
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 15px 30px;
    overflow: hidden;
    border: 2px solid;
    border-bottom-width: 4px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(30,255,188,1);
    background: rgba(255,255,255,1);
    transition: color .3s, background .5s;
}
.medium-button:hover {
    animation: stripes .75s infinite linear;
    background: linear-gradient(45deg, #30cfd0 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(30,255,188,1) 50%, rgba(30,255,188,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1));
    background-size: 10px 10px;
    color: #330867;
}
@keyframes stripes {
    0% {background-position: 0 0;}
    100% {background-position: 50px 0;}
}