@font-face{
    font-family: JetBrainsMono-Regular;
    src: url(/fonts/JetBrainsMono-Regular.ttf);
}

body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

*{
    box-sizing: border-box;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display:flex;
}

.content{
    width: 800px;
    margin: 100px auto 50px;
    font-size:0;
}