@font-face{
    font-family: JetBrainsMono-Regular;
    src: url(/fonts/JetBrainsMono-Regular.ttf);
}

body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-family: JetBrainsMono-Regular, serif;
    font-weight: normal;
}

*{
    box-sizing: border-box;
}


.header {
    height: 100vh;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.header-title {
    font-size: 140px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: auto;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display:flex;
}

.content{
    width: 800px;
    margin: 100px auto 50px;
    font-size:0;
}

.card {
    width: 350px;
    margin-right: 90px;
    margin-bottom: 60px;
    padding: 45px 45px 70px 45px;
    display: inline-block;
    box-shadow: 5px 5px 5px crimson;
}
.card-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card-text{
    font-size: 35px;
}
.card-image{
    width: 100%;
    margin-bottom: 25px;
}

.no-right-margin{
    margin-right:0;
}

.medium-button{
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 15px 30px;
    overflow: hidden;
    border: 2px solid;
    border-bottom-width: 4px;
    font-family: JetBrainsMono-Regular, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(30,255,188,1);
    background: rgba(255,255,255,1);
    transition: color .3s, background .5s;
}
.medium-button:hover {
    animation: stripes .75s infinite linear;
    background: linear-gradient(45deg, #30cfd0 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(30,255,188,1) 50%, rgba(30,255,188,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1));
    background-size: 10px 10px;
    color: #330867;
}
@keyframes stripes {
    0% {background-position: 0 0;}
    100% {background-position: 50px 0;}
}

.footer{
    height: 300px;
    display: flex;
    background-color: black;
}

.footer-author{
    margin: auto;
    color: white;
    font-size:24px;
}

.footer-text{
    color: white;
    font-size: 33px;
}

.auth {
    width: 500px;
    margin: auto;
    padding: 45px 45px 70px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 5px 5px 5px crimson;
}
.auth-title{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}
.auth-text{
    font-size: 30px;
    display: inline-block;
}

.input-field{
    display:inline;
    width:auto;
}