body{
    text-align: center;
    width: 100%;
    height: 100%;
}

.workspace-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card {
    background-color: #fff;
    min-width: 250px;
    min-height: 250px;
    display: flex;
    overflow-x: auto;
}

.card--content {
    background-color: #fff;
    min-width: 200px;
    margin: 5px;
    box-shadow: 5px 5px 5px black;
}

.workspace-title {
    font-size: 140px;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    margin: auto;
}

section{
    margin: 75px;
}